# Copyright (C) 2021 LG Electronics Inc.
# TEAM1 - shinpark-oneTeam

[Unit]
Description=Tartan Face Detection Service
After=ssh.service

[Service]
Type=notify
NotifyAccess=all
WorkingDirectory=/usr/local/tartan/bin
ExecStart=/usr/local/tartan/bin/LgFaceRecDemoTCP_Jetson_NanoV2
ExecReload=/bin/systemctl restart nvargus-daemon
RestartSec=5s
WatchdogSec=20s
Restart=on-failure

[Install]
WantedBy=multi-user.target
